<?xml version="1.0"?>
<!--
/**
 * @author Pavel Usachev <webcodekeeper@hotmail.com>
 * @copyright Copyright (c) 2017, Pavel Usachev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add
            id="Vika_Quickorder::grid"
            title="Orders Grid"
            translate="title"
            module="Vika_Quickorder"
            sortOrder="10"
            parent="Vika_Quickorder::all"
            action="vika_quickorder/quickorder/listing"
            resource="Vika_Quickorder::grid"
        />
    </menu>
</config>
