<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Dragun::top_level"
			 module="Dragun_Qorder"
			 resource="Magento_Backend::content"
			 sortOrder="9999"
			 title="Dragun"/>
		<add action="dragun_qorder/order/index"
			 id="Dragun_Qorder::dragun_qorder_order"
			 module="Dragun_Qorder"
			 parent="Dragun::top_level"
			 resource="Magento_Backend::content"
			 sortOrder="9999"
			 title="order"/>
		<add action="dragun_qorder/status/index"
			 id="Dragun_Qorder::dragun_qorder_status"
			 module="Dragun_Qorder"
			 parent="Dragun::top_level"
			 resource="Magento_Backend::content"
			 sortOrder="9999"
			 title="status"/>
	</menu>
</config>
