<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="dragun_qorder" id="dragun_qorder">
			<module before="Magento_Backend" name="Dragun_Qorder"/>
		</route>
	</router>
</config>
